/* Theme and global variables */
html {
	overflow-y: scroll;
	overflow-x: hidden;

	--game-spacing: 32px;
	--header-height: 4rem;
}

$color-success: hsl(150deg 70% 30%);
$color-warning: hsl(50deg 100% 30%);
$color-error: hsl(0deg 70% 45%);
$color-focus: hsl(200deg 70% 50%);
$color-gray-100: hsl(0deg 0% 10%);
$color-gray-150: hsl(0deg 0% 15%);
$color-gray-200: hsl(0deg 0% 20%);
$color-gray-300: hsl(0deg 0% 25%);
$color-gray-500: hsl(0deg 0% 50%);
$color-gray-700: hsl(0deg 0% 75%);
$color-gray-900: hsl(0deg 0% 90%);
$color-gray-950: hsl(0deg 0% 95%);

button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
	text-align: left;
	color: inherit;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Custom styles */

@mixin dark-mode {
	transition: (
		color 0.2s ease-in-out,
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out,
	);

	[data-theme-dark=""] & {
		@content;
	}
}

body {
	font-family: sans-serif;

	@media (max-height: 600px) {
		--game-spacing: 8px;
	}

	@include dark-mode() {
		background-color: $color-gray-100;
		color: $color-gray-900;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--header-height);
	border-bottom: 1px solid $color-gray-700;
	color: $color-gray-300;

	section.buttons {
		position: fixed;
		right: 1.5rem;
		display: flex;
		gap: .75rem;
	}

	@include dark-mode() {
		color: $color-gray-900;
	}
}

h1 {
	flex: 1;
	font-size: 2rem;
	line-height: var(--header-height);
	text-align: center;

	@media (max-width: 25rem) {
		font-size: 1.25rem;
	}
}

.game-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--game-spacing);
	padding: var(--game-spacing) 32px;
	margin: 0 auto;
	min-width: 250px;
	max-width: min(500px, 58vh, 100%);
}

.guess-results {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.guess {
	display: flex;
	gap: 4px;
	margin-bottom: 4px;

	.cell {
		position: relative;
		width: 20%;
		display: grid;
		place-content: center;
		aspect-ratio: 1 / 1;
		border: 2px solid $color-gray-700;
		border-radius: var(--radius);
		font-size: 2rem;

		&.correct {
			background-color: $color-success;
			border-color: $color-success;
			color: white;
		}

		&.incorrect {
			background-color: $color-gray-300;
			border-color: $color-gray-300;
			color: white;
		}

		&.misplaced {
			background-color: $color-warning;
			border-color: $color-warning;
			color: white;
		}
	}

	/*
	  Round the corners for the 4 cells at the very corners of
	  the game board
	*/
	&:first-of-type .cell:first-of-type {
		--radius: 4px 0px 0px 0px;
	}

	&:first-of-type .cell:last-of-type {
		--radius: 0px 4px 0px 0px;
	}

	&:last-of-type .cell:last-of-type {
		--radius: 0px 0px 4px 0px;
	}

	&:last-of-type .cell:first-of-type {
		--radius: 0px 0px 0px 4px;
	}
}

.guess-input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 6.75rem;

	label {
		font-size: 1.5rem;
	}

	input {
		display: block;
		width: 100%;
		font-size: 2rem;
		border: 2px solid $color-gray-300;
		border-radius: 4px;
		padding: 8px 16px;
		outline-offset: 4px;

		&:focus-visible {
			outline: solid $color-focus 2px;
		}

		@include dark-mode() {
			color: $color-gray-900;
			border-color: $color-gray-700;
			background-color: $color-gray-100;

			&:hover, &:focus {
				border-color: $color-gray-900;
				background-color: $color-gray-150;
			}
		}

		&:disabled {
			border-color: $color-gray-500;
			background-color: $color-gray-700;
			cursor: not-allowed;

			@include dark-mode() {
				border-color: $color-gray-500;
				background-color: $color-gray-200;
			}
		}
	}
}

.banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	width: 100vw;
	padding: 32px;
	text-align: center;
	animation: slideUp 400ms ease-out;
	will-change: transform;

	p {
		animation: bounce 1.5s ease-in-out infinite;
	}

	&.happy {
		background-color: $color-success;
		color: white;
	}

	&.sad {
		background-color: $color-error;
		color: white;
	}

	// https://codepen.io/Henkey/pen/OKONya
	.wavy-border {
		-webkit-mask: url("./assets/wavy-border.svg") repeat-x;
		mask: url("./assets/wavy-border.svg") repeat-x;

		-webkit-mask-size: 10%;
		mask-size: 10%; // 21.25% on small

		background-color: inherit;

		height: 100px;
		width: 500vw;
		position: absolute;

		&.top {
			top: -76%;
			left: -25%;

			animation: slide-top 20s linear infinite;

			@keyframes slide-top {
				from {
					transform: scaleY(50%) translateX(0);
				}

				to {
					transform: scaleY(50%) translateX(-100vw);
				}
			}
		}

		&.bottom {
			top: 62%;
			left: 0;

			animation: slide-bottom 20s linear infinite;

			@keyframes slide-bottom {
				from {
					transform: scaleY(-100%) scaleY(50%) translateX(0);
				}

				to {
					transform: scaleY(-100%) scaleY(50%) translateX(-100vw);
				}
			}
		}
	}

	@keyframes slideUp {
		from {
			transform: translateY(100%);
		}
		to {
			transform: translateY(0%);
		}
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

    50% {
		transform: translateY(5px);
	}

    100% {
		transform: translateY(0);
	}
}
